@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 }
 
 body {
     font-family: "Gabriela", sans-serif;
     background-color: #F3F8FF;
 }
/* header */
 header {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    width: 100%;
    max-width: 100vw;
    background-color: #D3CEDF;   
    position:fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
/* header logo */
 header .logo {
    color: #987D9A;
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
}

nav {
    margin: 0 16px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 12px;
}
/* header menu */
nav ul li a {
    font-size: 20px;
    color: #824D74;
    text-decoration: none;
}

nav ul li a:hover {
    color: #BB9AB1;
}

/* web display */
section {
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
    height:100%;
    padding: 80px 40px;
    max-width: 1200px;
    margin: 0 auto;   
}

/* Poster */
section h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

/* description abt poster */
section p {
    font-size: 18px;
    margin-bottom: 32px;
}

section .event-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px;
    list-style: none;
    margin-bottom: 20px;
}

section ul li {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-around;


}

section .img-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

section ul li img {
    width: 100%;
    object-fit: cover;
}

section .hero {
    display: flex;
    /* width: 720px; */
    justify-content:first baseline;
    align-items:flex-start;
    margin:0 auto;
}

section .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
